<script src="/assets/js/main.js"></script>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PowerApps</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://www/google.com">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Apps</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://www/google.com">Weather</a>
              <a class="dropdown-item" href="#">Password Generator</a>
              <a class="dropdown-item" href="#">Stopwatch</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
            <!-- Dark Mode Toggle -->
            <li class="nav-item">
              <button id="darkModeToggle" class="btn btn-outline-light ms-3">
                  🌙 Dark Mode
              </button>
            </li>
        </ul>

      </div>
    </div>
  </nav>
