<script src="/assets/js/main.js"></script>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/pages/home/index.html">PowerApps</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/pages/team/index.html">Team</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/pages/about/index.html">About</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Apps</a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="/pages/apps/weather.html">Weather</a>
                      <a class="dropdown-item" href="/pages/apps/passwordgenerator.html">Password Generator</a>
                      <a class="dropdown-item" href="/pages/apps/stopwatch.html">Stopwatch</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                  </div>
              </li>
          </ul>
          <!-- Dark Mode Toggle aligned to the right -->
          <button id="darkModeToggle" class="btn ms-auto">
              ☀️
          </button>
      </div>
  </div>
</nav>

